/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// general

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.index {
  background-color: black;
  line-height: 1.5;
  header {
    padding: 1rem 0;
    h1 {
      font-size: 3rem;
      color: white;
      font-weight: 700;
      text-align: center;
    }
  }
}
.index-root {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  li {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    color: white;
    padding: 1rem;
    text-align: center;
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1.4rem;
      color: rgb(9, 38, 172);
    }
    h3 + p {
      font-size: 0.9rem;
      margin: 0.5rem;
      color: black;
    }
    p {
      margin: 1rem 0;
      color: rgba(0, 0, 0, 0.8);
      span {
        color: rgb(41, 241, 181);
      }
    }
    h5 {
      color: black;
      font-size: 0.8rem;
      font-weight: 500;
      span {
        color: rgb(7, 33, 63);
        font-weight: 600;
        font-size: 1rem;
      }
    }
    .btn {
      background-color: rgb(24, 21, 21);
      padding: 0.4rem 1rem;
      border-radius: 2rem;
      color: white;
      border: none;
    }
  }
}

// single

.single {
  //   background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-color: rgb(0, 0, 0);
  line-height: 1.5;
  height: 100vh;
  text-align: center;
  h1 {
    color: white;
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: 600;
  }
}
.root {
  background-color: rgb(141, 148, 148);
  max-width: 700px;
  margin: 3rem auto;
  width: 100%;
  text-align: center;
  padding: 5rem;
  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
    color: rgb(9, 38, 172);
  }
  h3 + p {
    font-size: 1.1rem;
    margin: 0.5rem;
    color: black;
  }
  p {
    margin: 1rem 0;
    font-size: 1.3rem;
    color: rgba(69, 27, 221, 0.8);
    span {
      color: rgb(41, 241, 181);
    }
  }
  h5 {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    span {
      color: rgb(7, 33, 63);
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
  .btn {
    background-color: rgb(24, 21, 21);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin-left: 2rem;
  }
}
//

.add {
  color: rgb(123, 199, 35);
  .btn-add {
    background-color: white;
  }
}
.like {
  margin: 1rem 0;
  a {
    color: yellowgreen;
  }
}
.like-comment {
  margin: 2rem 0;
  padding: 1rem;
  a {
    font-size: 0.8rem;
  }
  .btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
}
.comment {
  textarea {
    margin-top: 2rem;
  }
}

#id {
  padding: 2rem;
  button {
    padding: 0.5rem 0.75rem;
  }
}

// index

.home-index {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to right, #7f53ac 0, #657ced 100%);

  button {
    padding: 0.75rem;
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: salmon;
    border-radius: 5px;
  }

  margin-top: 2rem;

  input {
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  select {
    padding: 0.5rem 1rem;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .container {
    max-width: 400px;
    margin: 2rem auto;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  p {
    padding-top: 1rem;
  }
  .container header {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .container form {
    padding: 1rem;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
  }
  label {
    padding-bottom: 5px;
  }

  .form-control input:focus {
    outline: 0;
    border-color: #777;
  }

  .form-control.success input {
    border-color: #79d4a1;
    position: relative;
  }
  .form-control.success {
    position: relative;
  }
  .form-control.success::before {
    content: '✅';
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 66%;
    transform: translateY(-50%);
    z-index: 99;
    font-size: 0.75rem;
  }
  .form-control.error input {
    border-color: #ed755f;
  }
  .form-control.error {
    position: relative;
  }
  .form-control.error::before {
    content: '❌';
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 66%;
    transform: translateY(-50%);
    z-index: 99;
    font-size: 0.75rem;
  }

  small {
    color: #ed755f;
    padding-top: 0.25rem;
  }

  .home ul {
    display: flex;
  }
  .home li {
    display: flex;
    margin-right: 2rem;
  }
  .home a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
  }
  .home a:hover {
    color: greenyellow;
  }

  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: white;
    flex-direction: column;
  }
}
.users {
  color: white;
  font-size: 2.5rem;
  margin-right: 2rem;
  text-align: right;
}
